<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addMarque</servlet-name>
        <servlet-class>interfaces.addMarque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajouterProduit</servlet-name>
        <servlet-class>interfaces.ajouterProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajouterStock</servlet-name>
        <servlet-class>interfaces.ajouterStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allMarques</servlet-name>
        <servlet-class>interfaces.allMarques</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allproducts</servlet-name>
        <servlet-class>interfaces.allproducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allStocks</servlet-name>
        <servlet-class>interfaces.allStocks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gerer</servlet-name>
        <servlet-class>interfaces.gerer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>onestock</servlet-name>
        <servlet-class>interfaces.onestock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supprimerProduit</servlet-name>
        <servlet-class>interfaces.supprimerProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProduit</servlet-name>
        <servlet-class>interfaces.updateProduit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addMarque</servlet-name>
        <url-pattern>/addMarque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajouterProduit</servlet-name>
        <url-pattern>/ajouterProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajouterStock</servlet-name>
        <url-pattern>/ajouterStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allMarques</servlet-name>
        <url-pattern>/allMarques</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allproducts</servlet-name>
        <url-pattern>/allproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allStocks</servlet-name>
        <url-pattern>/allStocks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gerer</servlet-name>
        <url-pattern>/gerer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>onestock</servlet-name>
        <url-pattern>/onestock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supprimerProduit</servlet-name>
        <url-pattern>/supprimerProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProduit</servlet-name>
        <url-pattern>/updateProduit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
